@{
    Layout = "_Layout1";
}

                <main id="main">
                    <section class="profile-dashboard">
                        <div class="inner-header mb-40">
                            <h3 class="title">Dashboard</h3>
                            <p class="des">There are many variations of passages of Lorem Ipsum</p>
                        </div>
                        <div class="counter-grid-dashboard mb-70">
                            
                        </div>

                    </section>

                </main>
