@page
@model BrandLook.Pages.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>BandLook</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="css/textanimation.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/images/favico.png">
    <link rel="~le-touch-icon-precomposed" href="assets/images/favico.png">

</head>

<body class="body header-fixed counter-scroll">

<div class="preload preload-container">
    <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
        <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20"
                stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round">
        </circle>
        <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20"
                stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round">
        </circle>
        <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                stroke-dasharray="0 440" stroke-linecap="round">
        </circle>
        <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                stroke-dasharray="0 440" stroke-linecap="round">
        </circle>
    </svg>
</div>

<!-- /preload -->

<div id="wr~er">
<div id="pagee" class="clearfix">

<!-- Main Header -->
<header class="main-header flex">
    <!-- Header Lower -->
    <div id="header">
        <div class="header-lower">
            <div class="tf-container full">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-container flex justify-space align-center">
                            <!-- Logo Box -->
                            <div class="mobile-nav-toggler mobie-mt mobile-button">
                                <i class="icon-Vector3"></i>
                            </div>
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="assets/images/fl1.png" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="nav-outer flex align-center">
                                <!-- Main Menu -->
                                <nav class="main-menu show navbar-expand-md">
                                    <div class="navbar-collapse collapse clearfix"
                                         id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="current">
                                                <a href="#">Trang chủ</a>
                                            </li>
                                            <li >
                                                <a href="#">Diễn đàn</a>

                                            </li>
                                            <li>
                                                <a href="#">Về chúng tôi</a>

                                            </li>
                                            <li>
                                                <a href="#">Boooking</a>

                                            </li>

                                            <li class="">
                                                <a href="#">Thuê nhạc cụ</a>

                                            </li>
                                            <li class="">
                                                <a href="#">Dịch vụ</a>
                                            </li>
                                            <li>
                                                <a href="contact-us.html">Đăng nhập</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                            <div class="header-account flex align-center">

                                <div class="search-mobie relative">
                                    <div class="dropdown">
                                        <a type="button" class="show-search" data-bs-toggle="dropdown" aria-expanded="false">
                                            <p>Tìm kiếm</p>
                                        </a>
                                        <ul class="dropdown-menu top-search">
                                            <form action="/" id="search-bar-widget">
                                                <input type="text" placeholder="Search here...">
                                                <button type="button">
                                                    <i class="icon-search-2"></i>
                                                </button>
                                            </form>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/page/fl1.png" alt="" class="fly-ab">
        </div>
    </div>


    <!-- Mobile Menu  -->
    <div class="close-btn">
        <span class="icon flaticon-cancel-1"></span>
    </div>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="index.html">
                    <img src="assets/images/logo2.png" alt="">
                </a>
            </div>
            <div class="bottom-canvas">
                <div class="menu-outer">
                </div>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->

</header>
<!-- End Main Header -->
<main id="main">


<!-- Widget Slider -->
<section class="slider relative">
    <div class="swiper mySwiper">
        <div class="swiper-wr~er">
            <div class="slider-home1 relative overflow-hidden swiper-slide">
                <div class="silider-image">
                    <img src="assets/images/slide/slide1.jpg" alt="Image" class="image-slide">
                    <img src="assets/images/slide/mask-slide.png" alt="Image" class="mask-slide">
                    <img src="assets/images/slide/mask-fly.png" alt="Image" class="mask-flane">
                    <div class="booking-title tf-anime-rorate">
                        <p class="booking">Booking</p>
                        <span></span>
                    </div>
                </div>
                <div class="slider-content">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-8">
                                <span
                                    class="sub-title text-main font-yes fs-28-46 fadeInDown wow">
                                    Khám phá
                                </span>
                                <h1 class="title-slide text-white mb-32 fadeInDown wow">
                                    Nghệ sĩ hoàn hảo cho
                                    <span class="animationtext clip text-main">
                                        <span class="cd-words-wr~er">
                                            <span class="item-text is-visible">Campain của bạn</span>
                                            <span class="item-text is-hidden">Campain của bạn</span>
                                        </span>
                                    </span>
                                </h1>
                                <p class="des text-white mb-45 fadeInDown wow">
                                    Chào mừng tới với BandLook! Chúng tôi cung cấp các dịch vụ booking nghệ sĩ thuận tiện cho bạn
                                </p>
                                <div class="btn-group">
                                    <a href="#" class="btn-main fadeInDown wow">
                                        <p class="btn-main-text">Bắt đầu</p>
                                        <p class="iconer">
                                            <i class="icon-arrow-right"></i>
                                        </p>
                                    </a>
                                    <a href="#" class="btn-w-wa fadeInDown wow">
                                        Về chúng tôi
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Widget Slider -->

<!-- Widget Tourpackage -->
<section class="tour-package pd-main">
<div class="tf-container w-1456">
<div class="row">
<div class="col-lg-12">
<div class="center m0-auto w-text-heading">
    <span class="sub-title-heading text-main mb-15 fadeInUp wow">
        Khám phá
    </span>
    <h2 class="title-heading mb-40 fadeInUp wow">
        Các nghệ sĩ tuyệt vời
        <span
            class="text-gray font-yes">
            của
        </span>chúng tôi
    </h2>
</div>
<div class="tab-tour-list">
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="new-york-tab-pane" role="tabpanel"
     aria-labelledby="new-york-tab" tabindex="0">
<div class="row">
<div class="col-sm-6 col-lg-3">
    <div class="tour-listing wow fadeInUp animated "
         data-wow-delay="0.1s">
        <a href="tour-single.html" class="tour-listing-image">
            <div class="badge-top flex-two">
                <span class="feature">Nổi bật</span>

            </div>
            <img src="assets/images/travel-list/1.jpg"
                 alt="Image Listing">

        </a>
        <div class="tour-listing-content">
            <span class="tag-listing">Đánh giá cao</span>
            <span class="map">
                United States
                USA
            </span>
            <h3 class="title-tour-list">
                <a href="tour-single.html">
                    Days
                    and 6 nights
                    From Moscow
                </a>
            </h3>
            <div class="review">

                <span>(1 Review)</span>
            </div>
            <div class="icon-box flex-three">
                <div class="icons flex-three">
                    <span>5 days</span>
                </div>
                <div class="icons flex-three">
                    <svg width="21" height="16" viewBox="0 0 21 16"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.34766 4.79761C4.34766 2.94013 5.85346 1.43433 7.71094 1.43433C9.56841 1.43433 11.0742 2.94013 11.0742 4.79761C11.0742 6.65508 9.56841 8.16089 7.71094 8.16089C5.85346 8.16089 4.34766 6.65508 4.34766 4.79761Z"
                            stroke="currentColor" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path
                            d="M9.5977 15.1797H2.46098C1.34827 15.1797 0.558268 14.0954 0.898984 13.0362C1.80408 10.222 4.57804 8.18566 7.69301 8.18566C9.17897 8.18566 10.5566 8.64906 11.6895 9.43922"
                            stroke="currentColor" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path d="M17.1035 15.1797V9.02734"
                              stroke="currentColor" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M20.1797 12.1035H14.0273"
                              stroke="currentColor" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <span>12 Person</span>
                </div>
            </div>
            <div class="flex-two">
                <div class="price-box flex-three">
                    <p>From <span class="price-sale">$169.00</span></p>
                    <span class="price">$199.00</span>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="tour-listing wow fadeInUp animated "
         data-wow-delay="0.2s">
        <a href="tour-single.html" class="tour-listing-image">
            <div class="badge-top flex-two">
                <span class="feature">Featured</span>
                <div class="badge-media flex-five">
                    <span class="media">
                        <i
                            class="icon-Group-1000002909">
                        </i>5
                    </span>
                    <span class="media">
                        <i
                            class="icon-Group-1000002910">
                        </i>2
                    </span>
                </div>
            </div>
            <img src="assets/images/travel-list/2.jpg"
                 alt="Image Listing">

        </a>
        <div class="tour-listing-content">
            <span class="tag-listing">Trending</span>
            <span class="map">
                <i class="icon-Vector4"></i>United States
                USA
            </span>
            <h3 class="title-tour-list">
                <a href="tour-single.html">
                    Days
                    and 6 nights
                    From Moscow
                </a>
            </h3>
            <div class="review">
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <span>(1 Review)</span>
            </div>
            <div class="icon-box flex-three">
                <div class="icons flex-three">
                    <i class="icon-time-left"></i>
                    <span>5 days</span>
                </div>
                <div class="icons flex-three">
                    <svg width="21" height="16" viewBox="0 0 21 16"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.34766 4.79761C4.34766 2.94013 5.85346 1.43433 7.71094 1.43433C9.56841 1.43433 11.0742 2.94013 11.0742 4.79761C11.0742 6.65508 9.56841 8.16089 7.71094 8.16089C5.85346 8.16089 4.34766 6.65508 4.34766 4.79761Z"
                            stroke="currentColor" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path
                            d="M9.5977 15.1797H2.46098C1.34827 15.1797 0.558268 14.0954 0.898984 13.0362C1.80408 10.222 4.57804 8.18566 7.69301 8.18566C9.17897 8.18566 10.5566 8.64906 11.6895 9.43922"
                            stroke="currentColor" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path d="M17.1035 15.1797V9.02734"
                              stroke="currentColor" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M20.1797 12.1035H14.0273"
                              stroke="currentColor" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <span>12 Person</span>
                </div>
            </div>
            <div class="flex-two">
                <div class="price-box flex-three">
                    <p>From <span class="price-sale">$169.00</span></p>
                    <span class="price">$199.00</span>
                </div>
                <div class="icon-bookmark">
                    <i class="icon-Vector-151"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="tour-listing wow fadeInUp animated "
         data-wow-delay="0.3s">
        <a href="tour-single.html" class="tour-listing-image">
            <div class="badge-top flex-two">
                <span class="feature">Featured</span>
                <div class="badge-media flex-five">
                    <span class="media">
                        <i
                            class="icon-Group-1000002909">
                        </i>5
                    </span>
                    <span class="media">
                        <i
                            class="icon-Group-1000002910">
                        </i>2
                    </span>
                </div>
            </div>
            <img src="assets/images/travel-list/3.jpg"
                 alt="Image Listing">

        </a>
        <div class="tour-listing-content">
            <span class="tag-listing">Hot sell</span>
            <span class="map">
                <i class="icon-Vector4"></i>United States
                USA
            </span>
            <h3 class="title-tour-list">
                <a href="tour-single.html">
                    Days
                    and 6 nights
                    From Moscow
                </a>
            </h3>
            <div class="review">
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <span>(1 Review)</span>
            </div>
            <div class="icon-box flex-three">
                <div class="icons flex-three">
                    <i class="icon-time-left"></i>
                    <span>5 days</span>
                </div>
                <div class="icons flex-three">
                    <svg width="21" height="16" viewBox="0 0 21 16"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.34766 4.79761C4.34766 2.94013 5.85346 1.43433 7.71094 1.43433C9.56841 1.43433 11.0742 2.94013 11.0742 4.79761C11.0742 6.65508 9.56841 8.16089 7.71094 8.16089C5.85346 8.16089 4.34766 6.65508 4.34766 4.79761Z"
                            stroke="currentColor" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path
                            d="M9.5977 15.1797H2.46098C1.34827 15.1797 0.558268 14.0954 0.898984 13.0362C1.80408 10.222 4.57804 8.18566 7.69301 8.18566C9.17897 8.18566 10.5566 8.64906 11.6895 9.43922"
                            stroke="currentColor" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path d="M17.1035 15.1797V9.02734"
                              stroke="#EB4242" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M20.1797 12.1035H14.0273"
                              stroke="#EB4242" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <span>12 Person</span>
                </div>
            </div>
            <div class="flex-two">
                <div class="price-box flex-three">
                    <p>From <span class="price-sale">$169.00</span></p>
                    <span class="price">$199.00</span>
                </div>
                <div class="icon-bookmark">
                    <i class="icon-Vector-151"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="tour-listing wow fadeInUp animated "
         data-wow-delay="0.4s">
        <a href="tour-single.html" class="tour-listing-image">
            <div class="badge-top flex-two">
                <span class="feature">Featured</span>
                <div class="badge-media flex-five">
                    <span class="media">
                        <i
                            class="icon-Group-1000002909">
                        </i>5
                    </span>
                    <span class="media">
                        <i
                            class="icon-Group-1000002910">
                        </i>2
                    </span>
                </div>
            </div>
            <img src="assets/images/travel-list/4.jpg"
                 alt="Image Listing">

        </a>
        <div class="tour-listing-content">
            <span class="tag-listing">Bestseller</span>
            <span class="map">
                <i class="icon-Vector4"></i>United States
                USA
            </span>
            <h3 class="title-tour-list">
                <a href="tour-single.html">
                    Days
                    and 6 nights
                    From Moscow
                </a>
            </h3>
            <div class="review">
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <i class="icon-Star"></i>
                <span>(1 Review)</span>
            </div>
            <div class="icon-box flex-three">
                <div class="icons flex-three">
                    <i class="icon-time-left"></i>
                    <span>5 days</span>
                </div>
                <div class="icons flex-three">
                    <svg width="21" height="16" viewBox="0 0 21 16"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.34766 4.79761C4.34766 2.94013 5.85346 1.43433 7.71094 1.43433C9.56841 1.43433 11.0742 2.94013 11.0742 4.79761C11.0742 6.65508 9.56841 8.16089 7.71094 8.16089C5.85346 8.16089 4.34766 6.65508 4.34766 4.79761Z"
                            stroke="#EB4242" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path
                            d="M9.5977 15.1797H2.46098C1.34827 15.1797 0.558268 14.0954 0.898984 13.0362C1.80408 10.222 4.57804 8.18566 7.69301 8.18566C9.17897 8.18566 10.5566 8.64906 11.6895 9.43922"
                            stroke="#EB4242" stroke-width="1.7"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                        <path d="M17.1035 15.1797V9.02734"
                              stroke="#EB4242" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M20.1797 12.1035H14.0273"
                              stroke="#EB4242" stroke-width="1.7"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <span>12 Person</span>
                </div>
            </div>
            <div class="flex-two">
                <div class="price-box flex-three">
                    <p>From <span class="price-sale">$169.00</span></p>
                    <span class="price">$199.00</span>
                </div>
                <div class="icon-bookmark">
                    <i class="icon-Vector-151"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row wow fadeInUp">
    <div class="col-lg-12 center mt-44">
        <a href="archieve-tour.html" class="btn-main">
            <p class="btn-main-text">Xem tất cả</p>
            <p class="iconer">
                <i class="icon-13"></i>
            </p>
        </a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</section>
<!-- Widget Tourpackage -->

<!-- Widget destination -->
<section class="widget-destination">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center m0-auto w-text-heading mb-40">
                    <span class="sub-title-heading text-main mb-15 fadeInUp wow">
                        Khám phá nghệ sĩ nổi bật
                        
                    </span>
                    <h2 class="title-heading fadeInUp wow">Các nghệ sĩ tuyệt vời của chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="grid-three-destination">
            <div class="tf-widget-destination wow fadeInUp animated " data-wow-delay="0.1s">
                <a href="single-destination.html" class="destination-imgae">
                    <span class="tour">3 tours</span>
                    <img src="assets/images/destination/list.jpg" alt="">
                </a>
                <div class="destination-content">
                    <span class="nation">Switzerland</span>
                    <div class="flex-two btn-destination">
                        <h6 class="title">
                            <a href="single-destination.html">Tên artist</a>
                        </h6>
                        <a href="single-destination.html" class="flex-five btn-view">
                        </a>
                    </div>

                </div>
            </div>
            <div class="tf-widget-destination wow fadeInUp animated " data-wow-delay="0.2s">
                <a href="single-destination.html" class="destination-imgae">
                    <span class="tour">7 tours</span>
                    <img src="assets/images/destination/list1.jpg" alt="">
                </a>
                <div class="destination-content">
                    <span class="nation">Thailand</span>
                    <div class="flex-two btn-destination">
                        <h6 class="title">
                            <a href="single-destination.html">View all tours</a>
                        </h6>
                        <a href="single-destination.html" class="flex-five btn-view">
                            <i class="icon-Vector-32"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="tf-widget-destination wow fadeInUp animated " data-wow-delay="0.3s">
                <a href="single-destination.html" class="destination-imgae">
                    <span class="tour">9 tours</span>
                    <img src="assets/images/destination/list2.jpg" alt="">
                </a>
                <div class="destination-content">
                    <span class="nation">united kingdom</span>
                    <div class="flex-two btn-destination">
                        <h6 class="title">
                            <a href="single-destination.html">View all tours</a>
                        </h6>
                        <a href="single-destination.html" class="flex-five btn-view">
                            <i class="icon-Vector-32"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="tf-widget-destination wow fadeInUp animated " data-wow-delay="0.4s">
                <a href="single-destination.html" class="destination-imgae">
                    <span class="tour">4 tours</span>
                    <img src="assets/images/destination/list3.jpg" alt="">
                </a>
                <div class="destination-content">
                    <span class="nation">Hongkong</span>
                    <div class="flex-two btn-destination">
                        <h6 class="title">
                            <a href="single-destination.html">View all tours</a>
                        </h6>
                        <a href="single-destination.html" class="flex-five btn-view">
                            <i class="icon-Vector-32"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="tf-widget-destination wow fadeInUp animated " data-wow-delay="0.5s">
                <a href="single-destination.html" class="destination-imgae">
                    <span class="tour">3 tours</span>
                    <img src="assets/images/destination/list4.jpg" alt="">
                </a>
                <div class="destination-content">
                    <span class="nation">Sri lanka</span>
                    <div class="flex-two btn-destination">
                        <h6 class="title">
                            <a href="single-destination.html">View all tours</a>
                        </h6>
                        <a href="single-destination.html" class="flex-five btn-view">
                            <i class="icon-Vector-32"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="tf-widget-destination wow fadeInUp animated " data-wow-delay="0.6s">
                <a href="single-destination.html" class="destination-imgae">
                    <span class="tour">3 tours</span>
                    <img src="assets/images/destination/list.jpg" alt="">
                </a>
                <div class="destination-content">
                    <span class="nation">Singapore</span>
                    <div class="flex-two btn-destination">
                        <h6 class="title">
                            <a href="single-destination.html">View all tours</a>
                        </h6>
                        <a href="single-destination.html" class="flex-five btn-view">
                            <i class="icon-Vector-32"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Widget destination -->
<!-- Widget Adventure -->
<section class="widget-adventure">
<div class="tf-container">
<div class="row">
    <div class="col-lg-12">
        <div class="mb-40">
            <span class="sub-title-heading text-main mb-15 fadeInUp wow">
                Khám phá
                
            </span>
            <h2 class="title-heading fadeInUp wow">Nhạc cụ nổi bật</h2>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="adventure-content">
<nav class="mb-40 adventure-scroll">
    <div class="nav nav-justified nav-tabs-adventure" id="nav-tab" role="tablist">
        <li class="nav-link flex-three active" id="nav-home-tab"
            data-bs-toggle="tab" data-bs-target="#nav-hiking" role="tab"
            aria-controls="nav-hiking" aria-selected="true">
            <i class="icon-Group1"></i>
            <span>Hiking & Tracking</span>
        </li>
        <li class="nav-link flex-three" id="nav-river-tab" data-bs-toggle="tab"
            data-bs-target="#nav-river" role="tab" aria-controls="nav-river"
            aria-selected="false">
            <i class="icon-river-1"></i>
            <span>River Cruises</span>
        </li>
        <li class="nav-link flex-three" id="nav-adventure-tab" data-bs-toggle="tab"
            data-bs-target="#nav-adventure" role="tab" aria-controls="nav-adventure"
            aria-selected="false">
            <i class="icon-adventure-1"></i>
            <span>Adventure Tour</span>
        </li>
        <li class="nav-link flex-three" id="nav-animals-tab" data-bs-toggle="tab"
            data-bs-target="#nav-animals" role="tab" aria-controls="nav-animals"
            aria-selected="false">
            <i class="icon-deer-1"></i>
            <span>Animals plant</span>
        </li>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-hiking" role="tabpanel"
     tabindex="0">
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour1.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour2.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour3.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour4.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour5.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour6.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour7.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour8.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="nav-river" role="tabpanel" tabindex="0">
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour1.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour2.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour3.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour4.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour5.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour6.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour7.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour8.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="nav-adventure" role="tabpanel" tabindex="0">
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour1.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour2.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour3.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour4.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour5.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour6.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour7.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour8.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="nav-animals" role="tabpanel" tabindex="0">
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour1.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour2.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour3.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour4.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour5.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour6.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour7.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
            <div class="tf-adventure flex-three mb-43">
                <a href="tour-single.html" class="adventure-image">
                    <img src="assets/images/tour/tour8.jpg" alt="">
                </a>
                <div class="adventure-image">
                    <span class="tour-ad">(3 Tour)</span>
                    <h6 class="title-ad">
                        <a
                            href="tour-single.html">
                            Switzerland
                        </a>
                    </h6>
                    <p class="price-ad text-main">$169.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- Widget Adventure -->



<!-- Widget Banner Blog -->
<section class="pd-main">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center m0-auto w-text-heading">
                    <span class="sub-title-heading text-main mb-15 wow fadeInUp animated">
                        Khám phá
                        
                    </span>
                    <h2 class="title-heading mb-40 wow fadeInUp animated">
                        Nghệ siz danh gia cao
                     
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 wow fadeInUp animated " data-wow-delay="0.1s">
                <div class="tf-widget-blog blog-style">
                    <a href="blog-details.html" class="blog-image">
                        <img src="assets/images/blog/bl1.jpg" alt="">
                        <div class="category-blog">
                            <i class="icon-Group-8"></i>
                            <span>Traveling</span>
                        </div>
                    </a>
                    <div class="blog-content">
                        <ul class="meta-list flex-three">
                            <li>
                                <i class="icon-4"></i>
                                <a href="blog-details.html">
                                    <span>02 Apr 2021</span>
                                </a>
                            </li>
                            <li>
                                <i class="icon-7"></i>
                                <a href="blog-details.html">
                                    <span>Coments (03)</span>
                                </a>
                            </li>
                        </ul>
                        <h3 class="entry-title">
                            <a href="blog-details.html">
                                The 8 best things about
                                Touristy
                            </a>
                        </h3>
                        <p class="des">
                            Business is the activity of making on cing or buying and selling
                            pro
                        </p>
                        <a href="blog-details.html" class="btn-read-more">
                            Read More
                            <i
                                class="icon-Vector-4">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp animated " data-wow-delay="0.2s">
                <div class="tf-widget-blog blog-style">
                    <a href="blog-details.html" class="blog-image">
                        <img src="assets/images/blog/bl2.jpg" alt="">
                        <div class="category-blog">
                            <i class="icon-Group-8"></i>
                            <span>Business</span>
                        </div>
                    </a>
                    <div class="blog-content">
                        <ul class="meta-list flex-three">
                            <li>
                                <i class="icon-4"></i>
                                <a href="blog-details.html">
                                    <span>02 Apr 2021</span>
                                </a>
                            </li>
                            <li>
                                <i class="icon-7"></i>
                                <a href="blog-details.html">
                                    <span>Coments (03)</span>
                                </a>
                            </li>
                        </ul>
                        <h3 class="entry-title">
                            <a href="blog-details.html">
                                The 8 best things about
                                Touristy
                            </a>
                        </h3>
                        <p class="des">
                            Business is the activity of making on cing or buying and selling
                            pro
                        </p>
                        <a href="blog-details.html" class="btn-read-more">
                            Read More
                            <i
                                class="icon-Vector-4">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp animated " data-wow-delay="0.3s">
                <div class="tf-widget-blog blog-style">
                    <a href="blog-details.html" class="blog-image">
                        <img src="assets/images/blog/bl3.jpg" alt="">
                        <div class="category-blog">
                            <i class="icon-Group-8"></i>
                            <span>Cavesse</span>
                        </div>
                    </a>
                    <div class="blog-content">
                        <ul class="meta-list flex-three">
                            <li>
                                <i class="icon-4"></i>
                                <a href="blog-details.html">
                                    <span>02 Apr 2021</span>
                                </a>
                            </li>
                            <li>
                                <i class="icon-7"></i>
                                <a href="blog-details.html">
                                    <span>Coments (03)</span>
                                </a>
                            </li>
                        </ul>
                        <h3 class="entry-title">
                            <a href="blog-details.html">
                                The 8 best things about
                                Touristy
                            </a>
                        </h3>
                        <p class="des">
                            Business is the activity of making on cing or buying and selling
                            pro
                        </p>
                        <a href="blog-details.html" class="btn-read-more">
                            Read More
                            <i
                                class="icon-Vector-4">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Widget Banner Blog -->


</main>

<footer class="footer footer-style1">
    <div class="tf-container">
        <div class="footer-main">
            <div class="footer-logo">
                <div class="logo-footer">
                    <img src="assets/images/logo2.png" alt="">
                </div>
                <p class="des-footer">
                    Thông tin liên hệ
                </p>
                <ul class="footer-info">
                    <li class="flex-three">
                        <i class="icon-noun-mail-5780740-1"></i>
                        <p>Info@webmail.com</p>
                    </li>
                    <li class="flex-three">
                        <i class="icon-Group-9"></i>
                        <p>
                            <a href="tel:684 555-0102 490">684 555-0102 490</a>
                        </p>
                    </li>
                    <li class="flex-three">
                        <i class="icon-Layer-19"></i>
                        <p>6391 Elgin St. Celina, NYC 10299</p>
                    </li>
                </ul>

            </div>
            <div class="footer-service">
                <h5 class="title">Liên kết</h5>

                <ul class="footer-menu">
                    <li>
                        <a href="about-us.html">About Us</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="team.html">Our Team</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog Insights</a>
                    </li>
                    <li>
                        <a href="contact/">Contact</a>
                    </li>
                </ul>

            </div>
         
            <div class="footer-newsletter">
                <h5 class="title">Đăng ký để nhận thông tin</h5>
                <form action="/" id="footer-form">
                    <div class="input-wrap flex-three">
                        <input type="email" placeholder="Enter Email Adress">
                        <button type="submit">
                            <i class="icon-paper-plane"></i>
                        </button>
                    </div>
                    <div class="check-form flex-three">
                        <i class="icon-Vector-121"></i>
                        <p>I agree to all your terms and policies</p>
                    </div>

                </form>
                <ul class="social-ft flex-three">
                    <li>
                        <a href="#">
                            <i class="icon-icon-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-8"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-2"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    
    </div>
</footer>

<!-- Bottom -->
</div>
<!-- /#page -->
</div>

<!-- Modal Popup Bid -->

<a id="scroll-top" class="button-go"></a>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="logo-canvas">
            <img src="assets/images/fl1.png" alt="image">
        </div>
        <p class="des">
            The ’s first and largest digital market
            for crypto collectibles and non-fungible
        </p>
        <ul class="canvas-info">
            <li class="flex-three">
                <i class="icon-noun-mail-5780740-1"></i>
                <p>Info@webmail.com</p>
            </li>
            <li class="flex-three">
                <i class="icon-Group-9"></i>
                <p>684 555-0102 490</p>
            </li>
            <li class="flex-three">
                <i class="icon-Layer-19"></i>
                <p>6391 Elgin St. Celina, NYC 10299</p>
            </li>
        </ul>
        <ul class="social flex-three">
            <li>
                <a href="#">
                    <i class="icon-icon-2"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-icon-1"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-8"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-6"></i>
                </a>
            </li>
        </ul>

    </div>
</div>

<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/swiper.js"></script>
<script src="js/plugin.js"></script>
<script src="js/count-down.js"></script>
<script src="js/countto.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/price-ranger.js"></script>
<script src="js/textanimation.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/shortcodes.js"></script>
<script src="js/main.js"></script>

</body>

</html>